li{
    margin-left:   20px;
    margin-right:  10px;   
    margin-top:    10px;   
    margin-bottom: 10px; 
}

ol{
    margin-top:    50px; 
}

span{
    border: 2px solid blue;
    padding: 4px;
    margin: 1.5rem;
}
div{
    margin-bottom: 1.5rem;
}

#one{
    border-radius: 10px;
    border-color: bisque;
    color:navy;
}
#two{
    border-width: 5px;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(aqua)) 1 100%;
}

#eigth{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(cyan), to(transparent));
}

.top-to-bottom {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

table{
    border-collapse: collapse;
}

table.tabla1, .tabla1 th, .tabla1 td {
    border: 1px solid black;
}

.tabla1 thead{
    background-color: darkturquoise;
}

table.tabla2, .tabla2 th, .tabla2 td{
    border: 1px solid grey;
    font-family:  "Arial", sans-serif;
}

table.tabla3, .tabla3 th, .tabla3 td{
    border: 1px solid grey;
    font-family:  "Arial", sans-serif;
}
.tabla3 th{
    background-color: grey;
}
.tabla3 td{
    background-color: lightgray;
}

table.tabla4 {
  width: 50%;
}

.tabla4 th {
  background: #5B9BD4;
  border-bottom: 5px solid white;
}

.tabla4 tr{
  background: #D1DDEE;
    font-family:  "Arial", sans-serif;
}

.tabla4 tr:nth-child(even) {
  background: #E9EEF6;
}

.tabla4 td{
    border: 2px solid white;
}
.tabla4 tr:hover {
  background: yellow;
}















