li{
    margin-left:   20px;
    margin-right:  10px;   
    margin-top:    10px;   
    margin-bottom: 10px; 
}

ol{
    margin-top:    50px; 
}

span{
    border: 2px solid blue;
    padding: 4px;
    margin: 1.5rem;
}
div{
    margin-bottom: 1.5rem;
}

#one{
    border-radius: 10px;
    border-color: bisque;
    color:navy;
}
#two{
    border-width: 5px;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(aqua)) 1 100%;
}

#eigth{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(cyan), to(transparent));
}

.top-to-bottom {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}